{{- if .Values.order-service.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: {{ .Values.order-service.replicaCount }}
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: {{ include "hackathon-apps.image" (dict "Values" .Values "repository" .Values.order-service.image.repository) }}
          imagePullPolicy: {{ .Values.order-service.image.pullPolicy }}
          ports:
            - containerPort: 8080
          resources:
            {{- toYaml .Values.order-service.resources | nindent 12 }}
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  type: {{ .Values.order-service.service.type }}
  ports:
    - port: {{ .Values.order-service.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: order-service
{{- end }}
